/*Reset the browser settings for entire page */
*{ 
    margin: 0rem;
    padding: 0rem; 
 }
 

 body{    
    background-color: #e5e5e5;
    color: #e2e8f0;  
    font-family: Arial, sans-serif;   
    height: 100%;     
    margin-left: 2%;
    margin-right: 2%;   
    
 }
 
 /*Header Logo */
 header > img {
    display: block;
    max-width: 4%;     
    margin-left: auto; 
    margin-right: auto;   
    padding: 1%;     
 }
 
/*Navigation Menu configuration */
nav {
    background-color: #034503;
    border-radius: 1rem;
    margin: 1rem; 
    font-size: x-large;
 }
  
 nav ul{
     list-style: none;
     text-align: center; 

 }
 nav li{
     display: inline-block;
     padding: 1%;
       
 }

 /* On Navigation hover on links */
 nav li:hover{
     /*To do - future enhancement : Use variables for colour configurations */
      background-color: #399109;
      border-radius: 0.7rem;
     
}
 
 nav ul li a {
     color: #e2e8f0;  
     text-decoration: none;
  
 }

/* Navigation menu  - active class*/
 nav ul li.active {    
    background-color: #399109; 
    border-radius: 0.7rem;
 
}
 
 /* Main configuration */
 main {
     margin: 1rem;
     
 }
 
 /* Section - applied flex to both sections */
  .promotion{ 
     background-color: rgb(205 205 205 / 65%);
     border-radius: 1rem;  
 
    
 }

  .content-items { 
    background-color: rgb(205 205 205 / 65%);
    border-radius: 1rem;  
    display: flex;  
    flex-wrap: wrap;   
    justify-content: space-between; 
    min-width:400px;
  
   
}


 /* Article */
 article {  
    background-color: #ffffffe3;
    color: rgb(1, 59, 1); 
    flex: 1;  
    margin: 1rem; 
    border-radius: 1rem;  
    padding: 1em;
    display: grid; 
    min-width:270px;
 }

 /* @media (max-width: 600px) {
    section {
        flex-direction: column;
    }
 } */

 article img{
     display: block;
     margin: 1rem;
     max-width: 90%;
     max-height: 90%;
     border-radius: 1rem;
}
 
 article p {
     display: block;
     padding: 1rem;

     /*Uncomment - only if you want to clip out additional text - not required with current text content*/
    /* height: 3rem;
       overflow: hidden;
       text-overflow: clip; */     
 }
  /* Article heading - inside three columns */
 article h3 { 
        padding-left: 1rem;
        text-decoration: double underline;
        color: #2e8b57;
        text-align: center;
 }

article h4 { 
    padding-left: 1rem;
    padding-bottom: 0.8rem;
    color: #2e8b57;
}

 article ul > li{    
   
    list-style-type: square;
    margin-left: 2rem;
}

article ul {
    margin-bottom: 1.5rem;;
}
.article-links { 
  
    background-color: #2E8B57;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    color: #e2e8f0;
    box-shadow: 3px 3px; 
    padding: 0.8rem; 
    float: right;
}

.article-links:hover {
    background-color: #399109;
}
 
/* Promontional banner - */ 
.promotion {        
      animation: myanimation 20s infinite linear;   
     overflow: hidden;
     margin-bottom: 1rem;     
   
 } 
 .promotion div img {
    min-width: 100%;
     max-height: 100%;
 }
 
 /* Animated effects - by changing opacity on banner image */
 @keyframes myanimation{  
     0% { opacity: 0; }
     25% { opacity: 1; } 
     100% { opacity: 0.80;}  
 }

 .promotion img {     
     width: 100%;
     height: 100%;   
 } 
 

/* Footer */
 footer {
     display: flex;
     height: 10%;
     padding: 1rem;
     align-items: center;   
     /* background-image: url('./images/greenbackground-img.png');  */
     background-color: #2e8b57;
     border-top-left-radius: 1rem;
     border-top-right-radius: 1rem;

 }

 footer > div {
     flex: 1;   
 }
 
 /* Logo cutomization in footer */
 .logo {    
     max-width: 6%;
     padding-left: 1rem;
 }

 /* Change background colour while hovering on article item - using pseudoclass*/
 .content-items article:hover{
     /* future enhancement : to-do : To change colour, make use of variables to replace common colours, all at one time */    
      box-shadow: 1px 1px;
 }

 mark{   
    background-color: rebeccapurple;
    color: white;
    padding: 0.3rem;
    border-radius: 0.3rem;

  
 }
 
 #copyright {
    text-align: right;
 }